<!doctype html>
<html lang="en">
    <head>
        <title>Verify OTP</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Verify OTP</h1>

        {% if verify_form.errors %}
        <ul class="errors">
            {% for error in verify_form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>An OTP has been sent to {{ email }}.</p>
        <form method="POST">
            {{ verify_form.csrf_token }} {{ verify_form.otp.label }} {{
            verify_form.otp() }} {{ verify_form.submit }}
        </form>
    </body>
</html>
